parameters:
    level: 1
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Variable \$.+ might not be defined\.#'
        -
            message: '#Variable \$subordered in empty\(\) always exists and is always falsy\.#'
            path: './src/Zend/Form.php'
            count: 1
